* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFF5E2;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 800px;
  margin: auto;
  background-color: #fff;
}
header {
  background-color: #FDBB40;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
}

header img {
  width: 200px;
  position: absolute;
  top: -27px;
  right: -30px;
}
