* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFF5E2;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 800px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(255,0,0,0.3);
}
header {
  background-color: #FDBB40;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
}

.logo {
  z-index: 20;
  width: 200px;
  position: absolute;
  top: 2px;
  right: 240px;
}

/* stile del main */

/* stile della lista ingredients */
#burger-name {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 100px;
  margin-left: 20px;
  font-size: 25px;
}

#burger-name:focus {
  outline: none;
}

.ingredients-list {
  list-style: none;
  margin-left: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

 .ingredients-list li {
  width: 50%;
  padding: 15px 0;
  display: flex;
  align-items: center;

}
.ingredients {
  position: relative;
}
.ingredients::after {
  display: block;
  height: 15px;
  content: '';
  width: 15px;
  background-color: red;
  border-radius: 2px;
}

.ingredients::before {
  display: none;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 20px;
  position: absolute;
  top: -5px;
}

.ingredients:checked::before {
  display: block;
}
.ingredients-list li img {
  width: 50px;
  margin-right: 20px;
}

.ingredients-list .ingredients {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.ingredients-list span {
  font-weight: 700;
}
 .ingredients-list label {
  color: #D33359;
  font-size: 14px;
  cursor: pointer;
}
/* stile del coupon */

.coupon__label {
  margin-left: 20px;
  font-weight: 600;
}
#discount-coupon {
 margin-left: 10px;
 background-color: #FFF5E2;
 border: none;
 padding: 5px;
 border-radius: 10px;
 width: 50%;
}
#discount-coupon:focus{
  outline: none;
}

.button-container {
  text-align: center;
  padding: 40px 0;
}

.btn {
  padding: 20px 30px;
  background-color: #FDBB40;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s background-color;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #bc8725;
}


footer {
  background-color: #D33359;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;

}

.your-price,
#totale,
.your-price span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
